@import "imports/typography.css";
@import "imports/global.css";

/*main*/
h1 {
  margin: 0 0 40px 0;
  text-align: center;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

/*grid for each site*/
.main-wrapper h2 {
  grid-area: h2;
  text-align: center;
  margin: 0 0 20px 0;
}

.main-wrapper .links {
  grid-area: links;
  display: flex;
  place-content: center;
  gap: 70px;
  margin-bottom: 20px;
}

.main-wrapper .changes-made {
  grid-area: changes;
}

.main-wrapper .how-changes {
  grid-area: how-changes;
}

.main-wrapper .why-changes {
  grid-area: why-changes;
}

.main-wrapper > section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "h2 h2 h2"
  "links links links"
  "changes how-changes why-changes";
  column-gap: 40px;
  background-color: #122a47;
  border: 2px solid #2b62aa;
  border-radius: 10px;
  padding: 20px;
}

section ul {
  padding-inline-start: 1.3rem;
}

section ul li {
  margin-block-start: 0;
  list-style-type: circle;
}

@media only screen and (max-width: 75em) {
  .main-wrapper > section {
    grid-template-columns: auto;
    grid-template-areas: 
    "h2"
    "links"
    "changes"
    "how-changes"
    "why-changes";
  }

  .main-wrapper > section > * {
    max-width: 60%;
    justify-self: center;
  }
}

@media only screen and (max-width: 62.5em) {
  .main-wrapper > section > * {
    max-width: 80%;
  }
}

@media only screen and (max-width: 48em) {
  .main-wrapper > section > * {
    max-width: 100%;
  }
}

@media only screen and (max-width: 31.25em) {
  main {
    padding: 0 20px;
  }

  .main-wrapper > section {
    padding: 10px;
  }
  
  h1 {
    margin: 20px 0;
  }

  .main-wrapper .links {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
}