body, nav ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.hamb-menu {
  display: none;
  z-index: 20;
}

header {
  grid-area: header;
  position: sticky;
  top: 0;
  padding: 20px 0;
}

nav {
  grid-area: nav;
}

nav ul {
  display: flex;
  gap: 100px;
  justify-content: center;
}

main {
  grid-area: main;
  padding: 40px;
  min-height: calc(100vh - 210px);
  min-height: -moz-calc(100vh - 210px);
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  padding: 0;
  padding: 10px 0;
}

body {
  background-color: #212738;
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer";
}

header, footer, nav ul {
  background-color: #161a25;
}

.to-top, .hamb-menu {
  border: none;
  padding: 0;
  background-color: #161a25;
  width: fit-content;
  width: -moz-fit-content;
}

@media only screen and (max-width: 48em) {
  nav {
    display: none;
  }

  nav div {
    position: relative;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 40px 20px 20px 0;
  }

  nav ul li {
    text-align: end;
  }

  header div {
    padding: 10px;
    position: relative;
  }

  .hamb-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
  }
}