body * {
  font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-weight: 300;
  line-height: 1.5;
  color: rgb(224, 224, 224);
}

h1, h2, h3, a {
  font-family: 'Segoe UI', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

header nav a {
  font-size: 1.2rem;
}

.links a {
  font-style: italic;
}

nav li {
  list-style-type: none;
}

.hamb-menu i {
  font-size: 1.5rem;
}

.to-top i {
  font-size: 2.2rem;
}

@media only screen and (min-width: 122em) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  p, li, a, nav li a {
    font-size: 1.4rem;
  }

  .main-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 31.25em) {
  nav li a {
    font-size: 1rem;
  }

  .to-top i {
    font-size: 2rem;
  }
}